<mat-card class="card-busca">
  <mat-card-header class="depoimento-header">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Cidade de Veneza</mat-card-title>
    <mat-card-subtitle>Ponte da Cidade de Veneza</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/imagens/Veneza.png" alt="Imagem de Veneza">
  <mat-card-content>
    <ul>
      <li>Veneza</li>
      <li>R$ 5.000,00</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">VER DETALHES</button>
  </mat-card-actions>
</mat-card>
