<div class="homepage">
<app-banner src="assets/imagens/banner-homepage.png" alt="Banner da API"></app-banner>
<app-container>
  <h2>Promoções</h2>
  <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>
  <h2>Depoimentos</h2>
  <div class="card-wrapper">
    <app-card-depoimentos></app-card-depoimentos>
    <app-card-depoimentos></app-card-depoimentos>
    <app-card-depoimentos></app-card-depoimentos>
  </div>
</app-container>
</div>
